rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    match /users/{userId} {
      allow read, write: if request.auth.uid == userId;
      allow update: if isSignedIn() 
                    && request.resource.data.diff(resource.data).affectedKeys().hasOnly(['pairedWith', 'updatedAt']);
      allow get: if isSignedIn();
    }

    match /pairs/{pairId} {
      allow create: if isSignedIn();
      allow read: if isSignedIn() && (resource.data.first == request.auth.uid || resource.data.second == request.auth.uid);
    }
  }
}
